<div class="container">

	<div class="row">
		<div class="col-centered col-lg-3">
			<h3 style="text-decoration: underline;"> Quests Completed: </h3>
		</div>
	</div>

		<div class="row"> <!-- Small row just to capture separator -->
      <div class="col-md-12">
        <hr />
      </div>
    </div>
	<h4> Quests: </h4>
	<div ng-repeat="quest in completedQuests">
	<ul class="media-list">
		<li class="media">
			<div class="media-body">
				<h4 class="media-heading" style="font-style: italic"> <h4> {{quest[0].name}}({{quest[0].reward}} pts)</h4>
				<br>
				<p> {{quest[0].description}} </p>
				</div>
				<button style="margin-top:-40px" class="btn pull-right btn-default align-right" ng-click="showDetails = !showDetails"> Show Details </button>
				<div class="row" ng-show="showDetails">
					<ul ng-repeat="product in quest[0].productsFull" class="media-list">
							<li class="media">
					    		<div class="media-left">
					      			<a href="#">
					        		<img class="media-object" style="width:152px;height:114px;" src="{{product.photoUrl}}">
					      			</a>
					    		</div>
					    	<div class="media-body">
					      	<h4 class="media-heading">{{product.name}} </h4>
					      	{{product.description}}
					      	{{product.Category[0]}}
					      	</div>
							</li>
						</ul>
					</div>
		</li>
	</ul>
</div>
